body{
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(41,187,142) !important;
}
#fundo_pag{
    background: rgb(26,26,31); 
    background: linear-gradient(180deg, rgba(26,26,31,1) 0%, rgba(26,26,31,1) 78%, rgba(26,111,85,.9) 91%, rgba(41,187,142,0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
}
header{
    position: fixed;
    background-color: rgb(38, 38, 43);
    box-shadow: 0px 0px 15px black;
    width: 100%;
    padding: 15px;
    z-index: 4;
}
#infos_iniciais{
    z-index: 2;
    position: relative;
    padding-bottom: 50px;
}
#infos_secundarias{
    z-index: 2;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}
#texto_detalhes{
    width: 50%;
    padding-left: 20%;
}
#corpo_pag{
    overflow-y: scroll;
}
#buttons_nav{
    float: right;
}
.button, .button_nav{
    text-decoration: none;
    width: auto;
    padding: 15px;
    background-color: rgb(114, 137, 218);
    color: white;
    font-size: 30px;
    border-radius: 5px;
    transition: backgroundColor .5s;
    transition: all .5s;
    box-shadow: 0px 8px 20px black;
}
.button_nav{
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.button:hover, .button_nav:hover{
    color: white;
    background-color: rgb(69, 91, 172);
}
.trad_button{
    background-color: rgb(179, 176, 19);
}
.trad_button:hover{
    background-color: rgb(116, 114, 14);
}
.convite{
    background-color: rgb(41,187,142);
    transition: all .5s;
}
.convite:hover{
    color: white;
    background-color: rgb(27, 126, 96);
}
#img_alonsal{
    filter: drop-shadow(0px 0px 15px black);
    width: 400px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 16%;
}
#descri_top{
    width: 85%;
    text-align: center;
    padding-left: 50%;
    padding-top: 18%;
}
#descri_aln{
    font-size: 20px;
}
#animacoes{
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 0 !important;
}
#animacoes2{
    top: 0px;
    right: 0px;
    width: 10%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 0 !important;
}
.deslizante{
    background-color: rgb(41, 187, 142);
    width: 30px;
    left: 50px;
    height: 200px;
    animation: desliza 5s infinite !important;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.deslizante2{
    background-color: rgb(41, 187, 142);
    width: 20px;
    left: 85px;
    height: 150px;
    animation: desliza2 4s infinite !important;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.dls2{
    width: 10px;
    left: 35px;
    height: 60px;
    animation: desliza2 6s infinite !important;
}
.dls3{
    width: 10px;
    left: 35px;
    height: 100px;
    animation: desliza2 3s infinite !important;
}
.dls4{
    width: 5px;
    left: 110px;
    height: 100px;
    animation: desliza 4s infinite !important;
}
.dls5{
    width: 5px;
    left: 30px;
    height: 100px;
    animation: desliza 2s infinite !important;
}
.deslizante3{
    background-color: rgb(41, 187, 142);
    width: 20px;
    left: 5px;
    height: 300px;
    animation: desliza2 10s infinite !important;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.anima_2{
    animation-direction: alternate-reverse !important;
}
#comandos{
    display: none;
    z-index: 2;
    background-color: rgb(44, 47, 51);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}
.comandos_menu{
    background-color: rgb(64, 68, 75);
    border-radius: 5px;
    width: 50%;
    height: 440px;
    border: 0px;
    font-size: 18px;
    padding: 30px;
    position: absolute;
    top: 20%;
    left: 25%;
    overflow-y: auto;
}
#menu_reacoes{
    float: left;
    position: absolute;
    top: 93%;
    left: 25%;
}
.button_react{
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    background-color: rgb(47, 49, 54);
    box-shadow: 0px 0px 2px black;
    transition: all .3s;
    border: 1px solid rgba(0, 0, 0, 0);
}
.button_react:hover{
    background-color: rgb(50, 53, 58);
    border: 1px solid rgb(93, 96, 100);
    box-shadow: 0px 0px 0px black;
}
#transitador{
    background-color: rgb(41, 187, 142);
    z-index: 3;
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0%;
    animation: carrega_pag 1s;
}
.comando_line{
    background-color: rgb(32, 34, 37);
    color: rgb(220, 221, 210);
    font-weight: 500;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
footer{
    background-color: rgb(44, 47, 51);
    padding: 15px;
    position: relative;
    z-index: 1;
    bottom: 0px;
}
footer > nav{
    width: 100px;
    padding-left: 15px;
}
footer > nav > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white !important;
}
#icone_redes{
    text-shadow: 0px 0px 5px black;
    min-width: 10%;
    right: 10px;
    top: 30%;
    position: absolute;
    height: auto;
}
mr{
    background-color: rgb(32, 34, 37);
    color: rgb(220, 221, 210);
    font-weight: 500;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
#ceira_solutions{
    width: 150px;
    float: right;
    padding-left: 15px;
    z-index: 3;
    padding-top: 2px;
    filter: drop-shadow(0px 0px 5px black);
}
.emj{
    text-align: center;
    width: 30px !important;
    float: left;
    filter: drop-shadow(0px 0px 3px black);
}