@keyframes desliza {
    from {
        top: 200%;
    }

    to {
        top: -200px;
    }
}

@keyframes desliza2 {
    from {
        top: 200%;
    }

    to {
        top: -200%;
    }
}

@keyframes transita_commands {
    0% {
        height: 0%;
    }

    50% {
        height: 100%;
        top: 0%;
    }

    100% {
        top: 100%;
    }
}

@keyframes transita_terms {
    0% {
        left: 0%;
        height: 100%;
        width: 0px;
    }

    20% {
        left: 0px;
        width: 100%;
        height: 100%;
    }

    80% {
        left: 0px;
        width: 100%;
        height: 100%;
    }

    100% {
        left: 100%;
        width: 0px;
        height: 100%;
    }
}

@keyframes carrega_pag {
    0% {
        z-index: 5;
        height: 100%;
        top: 0px;
        box-shadow: 0px 0px 15px black;
    }

    100% {
        top: 0%;
        height: 0%;
        z-index: 5;
        box-shadow: 0px 0px 15px black;
        opacity: .8;
    }
}

@keyframes pisca_comando {
    0% {
        box-shadow: 0px 0px 0px black;
    }

    50% {
        box-shadow: 0px 0px 15px var(--cyan);
    }

    100% {
        box-shadow: 0px 0px 0px black;
    }
}

/* animação */
@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.9;
        box-shadow: 0 0 0 0 rgba(229, 57, 53, 0.6);
    }

    70% {
        transform: translate(-50%, -50%) scale(2.2);
        opacity: 0;
        box-shadow: 0 0 0 18px rgba(229, 57, 53, 0);
    }

    100% {
        transform: translate(-50%, -50%) scale(2.2);
        opacity: 0;
    }
}

/* respeitar preferência por reduzir movimento */
@media (prefers-reduced-motion: reduce) {
    .live-pulse::after {
        animation: none;
        display: none;
    }
}