* {
    --cyan: #1d9b97;
    --dark_cyan: #187c79;
    --gray: rgb(44, 47, 51);
    --dark_gray: rgb(29, 31, 34);
}

body {
    color: white !important;
    background-color: var(--cyan) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fundo_pag {
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(26, 26, 31);
    background: linear-gradient(180deg, rgba(26, 26, 31, 1) 0%, rgba(26, 26, 31, 1) 78%, var(--dark_cyan) 91%, rgba(41, 187, 142, 0) 100%);
}

header {
    z-index: 4;
    width: 100%;
    padding: 15px;
    position: fixed;
    box-shadow: 0px 0px 15px black;
    background-color: rgb(38, 38, 43);
}

#infos_iniciais {
    z-index: 2;
    position: relative;
    padding-bottom: 50px;
}

#infos_secundarias {
    z-index: 2;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}

#texto_detalhes {
    width: 50%;
    padding-left: 20%;
}

#corpo_pag {
    overflow-y: scroll;
}

#buttons_nav {
    float: right;
}

.button,
.button_nav {
    width: auto;
    color: white;
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    transition: all .5s;
    text-decoration: none;
    box-shadow: 0px 8px 20px black;
    transition: backgroundColor .5s;
    background-color: rgb(114, 137, 218);
}

.button_nav {
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.button:hover,
.button_nav:hover {
    color: white;
    background-color: rgb(69, 91, 172);
}

.trad_button {
    background-color: rgb(179, 176, 19);
}

.trad_button:hover {
    background-color: rgb(116, 114, 14);
}

.convite {
    transition: all .5s;
    background-color: var(--cyan);
}

.convite:hover {
    color: white;
    background-color: var(--dark_cyan);
}

.terms {
    background-color: rgb(189, 183, 171);
}

#termos {
    display: none;
    overflow-y: scroll;
}

.terms:hover {
    background-color: rgb(119, 116, 109);
}

#conteudo_termos {
    width: 90%;
    padding-top: 7%;
    margin-left: 5%;
}

#img_alonsal {
    top: 20%;
    left: 16%;
    width: 400px;
    position: absolute;
    border-radius: 25% !important;
    filter: drop-shadow(0px 0px 15px black);
}

#descri_top {
    width: 85%;
    padding-top: 18%;
    padding-left: 50%;
    text-align: center;
}

#descri_aln {
    font-size: 20px;
}

#animacoes {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 0 !important;
}

#animacoes2 {
    top: 0px;
    right: 0px;
    width: 10%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 0 !important;
}

.deslizante {
    z-index: 1;
    left: 50px;
    width: 30px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    background-color: var(--cyan);
    animation: desliza 5s infinite !important;
}

.deslizante2 {
    z-index: 1;
    left: 85px;
    width: 20px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    background-color: var(--cyan);
    animation: desliza2 4s infinite !important;
}

.dls2 {
    left: 35px;
    width: 10px;
    height: 60px;
    animation: desliza2 6s infinite !important;
}

.dls3 {
    left: 35px;
    width: 10px;
    height: 100px;
    animation: desliza2 3s infinite !important;
}

.dls4 {
    width: 5px;
    left: 110px;
    height: 100px;
    animation: desliza 4s infinite !important;
}

.dls5 {
    width: 5px;
    left: 30px;
    height: 100px;
    animation: desliza 2s infinite !important;
}

.deslizante3 {
    left: 5px;
    z-index: 1;
    width: 20px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    background-color: var(--cyan);
    animation: desliza2 10s infinite !important;
}

.anima_2 {
    animation-direction: alternate-reverse !important;
}

#comandos,
#termos {
    top: 0%;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: var(--gray);
}

#comandos_geral,
#termos_servico {
    left: 5%;
}

#comandos_menu {
    top: 20%;
    left: 5%;
    width: 50%;
    border: 0px;
    padding: 30px;
    height: 440px;
    font-size: 18px;
    overflow-y: auto;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(64, 68, 75);
}

#comandos_infos {
    top: 20%;
    right: 5%;
    width: 35%;
    border: 0px;
    height: 440px;
    padding: 30px;
    font-size: 18px;
    overflow-y: auto;
    border-radius: 5px;
    position: absolute;
    background-color: rgb(64, 68, 75);
}

#menu_reacoes {
    top: 15%;
    left: 5%;
    float: left;
    position: absolute;
}

.button_react {
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: all .3s;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(47, 49, 54);
    border: 1px solid rgba(0, 0, 0, 0);
}

.button_react:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px black;
    background-color: rgb(50, 53, 58);
    border: 1px solid rgb(93, 96, 100);
}

#transitador {
    top: 0%;
    height: 0%;
    z-index: 3;
    width: 100%;
    position: fixed;
    animation: carrega_pag 1s;
    background-color: var(--cyan);
}

.comando_line {
    font-weight: 500;
    padding-left: 3px;
    border-radius: 5px;
    padding-right: 3px;
    color: rgb(220, 221, 210);
    background-color: rgb(32, 34, 37);
}

footer {
    z-index: 1;
    bottom: 0px;
    padding: 15px;
    position: relative;
    background-color: var(--gray);
}

#sub_footer {
    background-color: var(--dark_gray);
}

footer>nav {
    width: 100px;
    padding-left: 15px;
}

footer>nav>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white !important;
}

#icone_redes {
    top: 30%;
    height: auto;
    right: 10px;
    min-width: 10%;
    position: absolute;
    text-shadow: 0px 0px 5px black;
}

mr,
mx,
mx_tag {
    font-weight: 500;
    padding-left: 3px;
    border-radius: 5px;
    padding-right: 3px;
    color: rgb(220, 221, 210);
    animation: pisca_comando 2s;
    background-color: rgb(32, 34, 37);
}

mx {
    animation: none;
    padding: 2px;
}

mx_tag {
    padding: 2px;
    animation: none;
    padding-left: 5px;
    padding-right: 5px;
}

#discord_logo {
    z-index: 3;
    float: left;
    width: 65px;
    padding-left: 15px;
    filter: drop-shadow(0px 0px 2px black);
}

#ceira_solutions {
    z-index: 3;
    width: 150px;
    float: right;
    padding-top: 2px;
    padding-left: 15px;
    filter: drop-shadow(0px 0px 5px black);
}

.emj {
    float: left;
    text-align: center;
    width: 30px !important;
    filter: drop-shadow(0px 0px 3px black);
}

a {
    text-decoration: none !important;
}

#emj_steam {
    width: 25px;
    float: left;
    margin-left: 5px;
    padding-right: 2px;
    filter: drop-shadow(0px 0px 3px black);
}

footer>nav {
    width: 50%;
}